name: Maven Build
run-name: >
  ${{ github.workflow }}: ${{ github.event_name }} for ${{ github.ref_name }} by @${{ github.actor }}

on:
  push:
    branches: [ "main", "master", "feature/**", "release/**" ]
  schedule:
    - cron: 5 5 * * MON-FRI # daily at 5:05 am (Except on Weekends)
jobs:

  setup:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    outputs:
      BRANCH_MVN_VERSION: ${{ steps.set_version.outputs.BRANCH_MVN_VERSION }}
      BRANCH_NAME: ${{ steps.set_version.outputs.BRANCH_NAME }}
      MVN_VERSION: ${{ steps.set_version.outputs.MVN_VERSION }}
      ARTIFACT_ID: ${{ steps.set_version.outputs.ARTIFACT_ID }}
      GROUP_ID: ${{ steps.set_version.outputs.GROUP_ID }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up java 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml.
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Set Maven Versions
        id: set_version
        run: |
          "${GITHUB_WORKSPACE}/.github/workflows/scripts/set_maven_version.sh"

      - name: show variables
        id: show_variables
        shell: bash
        env:
          ALLMYSECRETS: ${{ toJSON(secrets) }}
          ALLMYVARS: ${{ toJSON(vars) }}
          ALLMYOUTPUT: ${{ toJSON(steps.set_version.outputs) }}
        run: |
          echo "### ALLMYSECRETS: $ALLMYSECRETS"
          echo "### ALLMYVARS: $ALLMYVARS"
          echo "### ALLMYOUTPUT: $ALLMYOUTPUT"

  build:
    runs-on: ubuntu-latest

    needs: [ setup ]

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
        
      - name: Set up java 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml.
          settings-path: ${{ github.workspace }} # location for the settings.xml file  

      - name: show variables
        id: show_build_variables
        shell: bash
        env:
          ALLMYSECRETS: ${{ toJSON(secrets) }}
          ALLMYVARS: ${{ toJSON(vars) }}
          ALLMYOUTPUT: ${{ toJSON(needs.setup.outputs) }}
        run: |
          echo "### ALLMYSECRETS: $ALLMYSECRETS"
          echo "### ALLMYVARS: $ALLMYVARS"
          echo "### ALLMYOUTPUT: $ALLMYOUTPUT"

      - name: Run Maven Build
        env:
          GITHUB_TOKEN: ${{ github.token }}
          BRANCH_MVN_VERSION: ${{needs.setup.outputs.BRANCH_MVN_VERSION}}
          BRANCH_NAME: ${{needs.setup.outputs.BRANCH_NAME}}
        run: |
          set -o pipefail    # don't hide errors within pipes
          set -o nounset     # abort on unbound variable
          set -o errexit     # abort on nonzero exit status
          if [[ "${BRANCH_NAME}" == "master" ]]; then
            echo "::notice:: ### Build of Master. Version: $BRANCH_MVN_VERSION"
          else
            echo "::notice:: ### Build of Feature Branch ${BRANCH_NAME}. Version: $BRANCH_MVN_VERSION"
            mvn -B versions:set -e -DnewVersion="$BRANCH_MVN_VERSION"
          fi
          mvn -B -e deploy -s $GITHUB_WORKSPACE/settings.xml
